/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  /* colors */
  /* content  */
  --content-primary: #ffffff;
  --content-secondary: #c7c9cc;
  --content-tertiary: #d9d9d9;
  --content-brand: #c58de7;
  --color-inverse: #030203;
  /* background  */
  --background-primary: #020202;
  --background-secondary: #111012;
  --background-tertiary: #24222e;
  --background-brand: #c58de7;
  --background-gray: #3d3d3d;
  /* Accent  */
  --accent-pink: #d586e0;
  --accent-blue: #91a1fa;
  --accent-green: #77c0af;
  --accent-lime: #d1dc97;
  --accent-red: #e9a9b3;
  /* Gradient  */
  --gradient-border: #77c0af 0%, #d1dc97 14.84%, #e9a9b3 32.15%, #d586e0 65.79%,
    #91a1fa 84.58%;
  --gradient-background: #d586e0 0%, #91a1fa 98.93%;
  --gradient-content: #c7c9cc 0%, #3d3d3d 100%;
  /* fonts  */
  --font-heading: "Sora", sans-serif;
  --font-overline: "Roboto Mono", monospace;
  --font-paragraph: "Roboto Flex", sans-serif;
}

body {
  margin: 0 auto;
  max-width: 120rem;
  height: 100vh;
  background-color: var(--background-primary);
  color: var(--content-primary);
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

input:focus,
button:focus {
  outline: var(--gradient-border);
}

/* Remover as setinhas dos inputs do tipo number */
input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-ms-clear {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* global */

/* Desktop  */
/* content  */
main {
  display: flex;
  gap: 10.8rem;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.logo-container {
  position: absolute;
  top: 0;
  left: 18%;
  margin-top: 76px;
}

h1 {
  max-width: 50.8rem;
  font-family: var(--font-heading);
  line-height: 130%;
  font-size: 7.2rem;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 3.8rem;
}

h2 {
  font-family: var(--font-paragraph);
  line-height: 150%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 0.2rem;
}

h3 {
  font-family: var(--font-overline);
  text-transform: uppercase;
  color: var(--gradient-content);
  margin-bottom: 1.3rem;
}

.questions {
  max-width: 38.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-list {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.question-item {
  display: flex;
  flex-direction: column;
  line-height: 150%;
}

.paragraph-title {
  font-family: var(--font-paragraph);
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--content-brand);
  display: flex;
  align-items: center;
}

.answer {
  line-height: 150%;
  font-family: var(--font-paragraph);
  font-size: 1.2rem;
  margin-left: 3rem;
}

.question-icon {
  width: 2rem;
  height: 2rem;
  color: var(--content-brand);
  margin-right: 0.8rem;
}

.aside-content p {
  font-family: var(--font-paragraph);
  font-size: 1.6rem;
  margin-bottom: 4rem;
  max-width: 48.2rem;
}

/* form {
} */

.form-wrap {
  display: flex;
  gap: 1.2rem;
  margin-bottom: 2rem;
}

.form-wrap label {
  font-family: var(--font-paragraph);
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0.8rem;
}

.form-wrap input {
  border: none;
  border-radius: 8px;
  color: var(--content-primary);
  background-color: var(--background-secondary);
  width: 8.6rem;
  height: 5.6rem;
  padding: 4px 8px;
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggle-repeat {
  margin-bottom: 4rem;
}

/* Switch Button */
.toggle-repeat {
  font-family: var(--font-paragraph);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 8px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 20px; 
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc; 
  border-radius: 25px; 
}

/* Bolinha do switch */
.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px; 
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: transform 0.4s ease;
  border-radius: 50%;
}

/* checkbox está ativado */
input:checked + .slider {
  background: linear-gradient(90deg, #D586E0 0%, #91A1FA 98.93%); 
}

/* movimento */
input:checked + .slider:before {
  animation: bounce 0.4s ease;
  transform: translateX(9px); 
}

@keyframes bounce {
  0% { transform: translateX(0); }
  50% { transform: translateX(12px); } 
  70% { transform: translateX(8px); }
  100% { transform: translateX(10px); } 
}

/* Button do form */
form button {
  width: 100%;
  font-family: var(--font-paragraph);
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0.8rem;
  color: var(--content-primary);
  background-color: var(--background-tertiary);
  padding: 1.6rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.arrow-icon {
  width: 2.4rem;
  height: 2.4rem;
}

/* - content - */
