/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  /* colors */
  /* content  */
  --content-primary: #ffffff;
  --content-secondary: #c7c9cc;
  --content-tertiary: #d9d9d9;
  --content-brand: #c58de7;
  --color-inverse: #030203;
  /* background  */
  --background-primary: #020202;
  --background-secondary: #111012;
  --background-tertiary: #24222e;
  --background-brand: #c58de7;
  --background-gray: #3d3d3d;
  /* Accent  */
  --accent-pink: #d586e0;
  --accent-blue: #91a1fa;
  --accent-green: #77c0af;
  --accent-lime: #d1dc97;
  --accent-red: #e9a9b3;
  /* Gradient  */
  --gradient-border: #77c0af 0%, #d1dc97 14.84%, #e9a9b3 32.15%, #d586e0 65.79%,
    #91a1fa 84.58%;
  --gradient-background: #d586e0 0%, #91a1fa 98.93%;
  --gradient-content: #c7c9cc 0%, #3d3d3d 100%;
  /* fonts  */
  --font-heading: "Sora", sans-serif;
  --font-overline: "Roboto Mono", monospace;
  --font-paragraph: "Roboto Flex", sans-serif;
}

body {
  margin: 0 auto;
  max-width: 120rem;
  height: 100vh;
  background-color: var(--background-primary);
  color: var(--content-primary);
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

input:focus,
button:focus {
  outline: var(--gradient-border);
}

/* Remover as setinhas dos inputs do tipo number */
input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-ms-clear {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* global */

/* Desktop  */
/* content  */

main {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 203px 250px 1fr;
  justify-content: center;
  align-content: center;
  column-gap: 10.8rem;
}

main .logo {
  margin-top: 7.9rem;
  display: grid;
  grid-column: 1/2;
  grid-row: 1;
}

.headers-container {
  grid-column: 1/2;
  grid-row: 2;
  display: grid;
  align-items: start;
}

.headers h1 {
  max-width: 50.8rem;
  font-family: var(--font-heading);
  line-height: 130%;
  font-size: 7.2rem;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 3.8rem;
}

.headers h3 {
  font-family: var(--font-overline);
  text-transform: uppercase;
  color: var(--gradient-content);
  margin-bottom: 1.3rem;
}

.questions {
  grid-column: 1/2;
  grid-row: 3;
  max-width: 38.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-list {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.question-item {
  display: flex;
  flex-direction: column;
  line-height: 150%;
}

.paragraph-title {
  font-family: var(--font-paragraph);
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--content-brand);
  display: flex;
  align-items: center;
}

.answer {
  line-height: 150%;
  font-family: var(--font-paragraph);
  font-size: 1.2rem;
  margin-left: 3rem;
}

.question-icon {
  width: 2rem;
  height: 2rem;
  color: var(--content-brand);
  margin-right: 0.8rem;
}

.numbers-content {
  grid-column: 2;
  grid-row: 2/3;
  display: grid;
  margin-top: 2.4rem;
}

.numbers h2 {
  font-family: var(--font-paragraph);
  line-height: 150%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 0.2rem;
}

.numbers p {
  font-family: var(--font-paragraph);
  font-size: 1.6rem;
  margin-bottom: 4rem;
  max-width: 46rem;
}

.form-numbers {
  grid-column: 2;
  grid-row: 2/3;
  margin-top: 14rem;
}

.form-wrap {
  display: flex;
  gap: 1.2rem;
  margin-bottom: 2rem;
}

.form-wrap label {
  font-family: var(--font-paragraph);
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0.8rem;
}

.form-wrap input {
  border: none;
  border-radius: 8px;
  font-family: var(--font-heading);
  font-size: 3.2rem;
  color: var(--content-primary);
  background-color: var(--background-secondary);
  width: 8.6rem;
  height: 5.6rem;
  padding: 4px 8px;
  text-align: center;
  transition: background-color 0.3s ease;
}

/* corrijir depois, tentar fazer da forma correta... */
.form-wrap input:hover {
  background-color: var(--background-tertiary);
  border: 1px solid;
  border-color: linear-gradient(
    #77c0af 0%,
    #d1dc97 14.84%,
    #e9a9b3 32.15%,
    #d586e0 65.79%,
    #91a1fa 84.58%
  );
  border-radius: 8px;
  border-image-slice: 1;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Switch Button */
.toggle-repeat {
  margin-bottom: 4rem;
}

.toggle-repeat {
  font-family: var(--font-paragraph);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 8px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 25px;
}

/* Bolinha do switch */
.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: transform 0.4s ease;
  border-radius: 50%;
}

/* checkbox está ativado */
input:checked + .slider {
  background: linear-gradient(90deg, #d586e0 0%, #91a1fa 98.93%);
}

/* movimento */
input:checked + .slider:before {
  animation: bounce 0.4s ease;
  transform: translateX(9px);
}

@keyframes bounce {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(12px);
  }
  70% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(10px);
  }
}

/* Button do form */
form button {
  width: 100%;
  font-family: var(--font-paragraph);
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0.8rem;
  color: var(--content-primary);
  background-color: var(--background-tertiary);
  padding: 1.6rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  position: relative;
  border: 1px solid transparent;
  transition: background-color 0.3s ease;
}

/* Seta animada */
form button .arrow-icon {
  transition: transform 0.3s ease;
}

/* Hover do botão */
form button:hover {
  background-color: var(--background-secondary);
  box-shadow: 0 0 1px 2px rgba(255, 255, 255, 0.6);
}

/* Animação da seta */
form button:hover .arrow-icon {
  animation: move-arrow 1s ease-in-out infinite;
}

/* Keyframes */
@keyframes move-arrow {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Botão pressionado */
form button:active {
  transform: scale(0.98);
}

.arrow-icon {
  width: 2.4rem;
  height: 2.4rem;
}

/* - content - */

/*Mobile*/
@media (max-width: 425px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 0rem 3.5rem;
    height: 100vh;
  }

  main .logo {
    grid-column: 1;
    grid-row: 1;
    margin: 0 auto;
    margin-top: 10.4rem;
  }

  .headers-container {
    grid-column: 1;
    grid-row: 2;
    margin-top: 4.4rem;

  }

  .headers h1 {
    max-width: 100%;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 4.2rem;
  }

  .headers h3 {
    font-family: var(--font-overline);
    font-size: 1.6rem;
    text-transform: uppercase;
    color: var(--gradient-content);
    margin-bottom: 0.8rem;
  }

  .questions {
    grid-column: 1;
    grid-row: 4;
  }

  .numbers-content {
    grid-column: 1;
    grid-row: 3;
    display: grid;
    margin-top: 0;
  }

  .numbers p {
    font-size: 1.4rem;
  }

  .form-numbers {
    grid-column: 1;
    grid-row: 3;
    margin-bottom: 8rem;
  }
}
/*Mobile*/
